:root {
  --pink-color: #e26e70;
}

* {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(
    45deg,
    rgb(65, 88, 208) 0%,
    rgb(200, 80, 192) 50%,
    rgb(255, 204, 112) 100%
  );
  height: 100vh;
  overflow: hidden;
}

.open_model_btn {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  border: none;
  padding: 20px 40px;
  border-radius: 6px;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0 0 5px red;
  background-color: #fff;
  transition: 0.25s;
}

.open_model_btn:hover {
  background-color: #e26e70;
}

.model {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
}

.model_inner {
  width: 450px;
  background-color: #fff;
  border-radius: 5px;
  overflow: hidden;
  animation: showModel linear 0.2s;
  position: relative;
  margin: 200px auto;
}

@keyframes showModel {
  from {
    top: -200px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.model_header {
  background-color: var(--pink-color);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  font-size: 17px;
}

.hide {
  display: none;
}

.model_body {
  padding: 15px;
}

.model_body h2 {
  color: var(--pink-color);
  margin-bottom: 10px;
}

.model_footer {
  padding: 15px;
  text-align: right;
}

.model_footer button {
  outline: none;
  border: none;
  padding: 10px 20px;
  background-color: var(--pink-color);
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

i {
  cursor: pointer;
  font-size: 18px;
}
